.form {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
}

.heading {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.descr {
  color: var(--light-black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.inputList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input {
  border-radius: 10px;
  background: var(--input-color);
  padding: 18px;
  border: transparent;
  width: 400px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: rgba(16, 24, 40, 0.20);
  border-style: solid; 
  outline-color: transparent;
  outline-offset: 1px;
}

.textarea {
  height: 114px;
  resize: none;
  overflow-y: scroll;
}

.button {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 16px 60px;
  border-radius: 200px;
  border: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  max-width: 173px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--hover-accent-color);
}

.notification {
  background-color: var(--yellow-color);
  color: var(--black-color);
  padding: 16px 60px;
  border-radius: 200px;
  border: transparent;
  font-size: 16px;
  letter-spacing: -0.5px;
  max-width: 400px;
}


