.label {
  margin-bottom: 8px;
  display: block;
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.input {
  width: 360px;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 44px;
  font-size: 16px;
  color: #101828;
  background-color: #f7f7f7;
  border: transparent;
  border-radius: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input::placeholder {
  color: #101828;
}

.input:focus {
  border-color: rgba(16, 24, 40, 0.20);
  border-style: solid; 
  outline-color: transparent;
  outline-offset: 4px;
}

.container {
  margin-bottom: 32px;
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.pinIcon {
  position: absolute;
  left: 18px; 
  top: 50%;
  transform: translateY(-50%);
}
