.container {
  margin: 100px 64px;
}

.header {
  color: var(--black-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 48px;
    text-align: center;
}

.emptyMessage {
  text-align: center;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
  
  .ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .li {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 32px;
    flex: 1 0 calc(50% - 24px); 
  max-width: calc(50% - 24px);
  }
  
  .li:last-child {
    margin-bottom: 0;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 526px;
  }
  
  .headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .heading {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  
  .price {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-right: 11px;
  }
  
  .heartIcon {
    stroke: var(--black-color);
  }
  
  .end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .starIcon {
    margin-right: 4px;
  }
  
  .additional {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .rating {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    margin-right: 16px;
  }
  
  .locationIcon {
    margin-right: 4px;
  }
  
  .location {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .button {
    background-color: transparent;
    color: #101828;
    padding: 8px 32px;
    border-radius: 200px;
    border: 1px solid rgba(71, 84, 103, 0.2);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.08px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 12px;
  }
  
  .button:hover,
  .button:focus {
    border-color: var(--accent-color);
  }

  .img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  
  