.card {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  
  .ul {
    list-style: none;
    margin-bottom: 50px;
  }
  
  .li {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 32px;
  }
  
  .li:last-child {
    margin-bottom: 0;
  }
  
  .img {
    object-fit: cover;
    border-radius: 10px;
    width: 290px;
    height: 310px;
    flex-shrink: 0;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 526px;
  }
  
  .headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .heading {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  
  .price {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-right: 11px;
  }
  
  .heartIcon {
    stroke: var(--black-color);
  }
  
  .end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .starIcon {
    margin-right: 4px;
  }
  
  .additional {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .rating {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    margin-right: 16px;
  }
  
  .locationIcon {
    margin-right: 4px;
  }
  
  .location {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .descr {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--light-black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 525px;
    margin-bottom: 24px;
  }
  
  .detailsList {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    max-width: 526px;
    margin-bottom: 24px;
  }
  
  .detailsIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .details {
    flex-basis: calc((100% - 24) / 4);
    max-width: 160px;
    display: flex;
    align-items: center; 
    padding: 12px 18px;
    align-items: center;
    background-color: var(--light-grey-color);
    border-radius: 100px;
    border: transparent;
    color: var(--black-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
  }
  
  .loadMoreButtonContainer {
    text-align: center;
  }
  