.button {
  background-color: #e44848;
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 200px;
  border: transparent;
  font-size: 16px;
  letter-spacing: -0.5px;
}

.button:hover,
.button:focus {
  background-color: #d84343;
}
