.label {
  color: #475467;
  font-size: 16px;
  margin-bottom: 14px;
  display: block;
  font-weight: 500;
  line-height: 24px;
}

.heading {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
}

.ul:last-child {
  margin-bottom: 64px;
}

.li {
  max-width: 114px;
  height: 95px;
  list-style: none;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  flex-basis: calc(50% - 4px);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li:hover, .li:focus {
  border-color: #E44848;
}

.icon {
  width: 32px;
  height: 32px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.radio {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.span {
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: pre-wrap;
  max-width: 80px;
}
