.navbar {
display: flex;
justify-content: center;
margin: 20px;
}
  
.list {
    display: flex;
    gap: 60px; 
}

.link {
color: #101828;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #e44848; 
}