.container {
  display: flex;
  gap: 24px;
}

.leftColumn,
.rightColumn {
  flex: 1;
}

.leftColumnt {
  display: flex;
  flex-direction: column;
}

.detailsList {
  display: flex;
  width: 430px;
  height: 200px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.detailsIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.details {
  padding: 12px 18px;
  align-items: center;
  background-color: var(--light-grey-color);
  border-radius: 100px;
  border: transparent;
  color: var(--black-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center; 
}

.heading {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.descr {
  color: var(--black-color);
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 14px;
}

.descr:last-child {
  margin-bottom: 0;
}
