.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 64px;
    margin: 100px 64px;


  }
  
  .leftColumn {
    display: flex;
    flex-direction: column;

  }

  .rightColumn {
    height: auto;
  }


  .img {
    object-fit: cover;
    border-radius: 10px;
    /* width: 300px;
    height: 300px; */
  }

  
  .header {
color: #101828;
font-size: 24px;
font-weight: 600;
line-height: 30px; 
margin-bottom: 32px;
}

.descr {
    color: #475467;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 24px;
}

.button {
    background-color: #e44848;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 200px;
    border: transparent;
    font-size: 16px;
    letter-spacing: -0.5px;
    max-width: 173px;
  }
  
  .button:hover,
  .button:focus {
    background-color: #d84343;
  }

